.categories {
    position: fixed;
    height: 100vh;
    width: 10rem;
    background: rgb(247, 245, 245);
    overflow-y: hidden;
    z-index: 999;
}

.category_item {
    transition: .3s;
}

.category_item:hover {
    background: rgb(236, 235, 235);
    transition: .3s;
}

.category_item.active {
    background: rgb(236, 235, 235);
}

.category_item a {
    text-decoration: none;    
    color: rgb(83, 77, 77);
    display: block;
    padding: 1rem;
    text-transform: capitalize; 
}